<?xml version="1.0"?>
<!--
/**
 * @package     Tridhyatech_LayeredNavigation
 * @copyright   Copyright (c) 2022 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tridhyatech_LayeredNavigation::ttproductfilter_configuration"
             title="Layered Navigation Configuration"
             translate="title"
             module="Tridhyatech_LayeredNavigation"
             parent="Tridhyatech_Core::tridhyatech_menu"
             sortOrder="20"
             action="adminhtml/system_config/edit/section/prproductfilter"
             resource="Tridhyatech_LayeredNavigation::config_ttproductfilter"/>
    </menu>
</config>
