<?xml version="1.0"?>
<!--
/**
* @author Tridhya Tech
* @copyright Copyright (c) 2023 Tridhya Tech Ltd (https://www.tridhyatech.com)
* @package Tridhyatech_LayeredNavigation
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tridhyatech_LayeredNavigation::ttproductfilter_configuration"
             title="Layered Navigation Configuration"
             translate="title"
             module="Tridhyatech_LayeredNavigation"
             parent="Tridhyatech_Core::tridhyatech_menu"
             sortOrder="20"
             action="adminhtml/system_config/edit/section/prproductfilter"
             resource="Tridhyatech_LayeredNavigation::config_ttproductfilter"/>
    </menu>
</config>
