<?xml version="1.0"?>
<!--
/**
 * @author    Tridhya Tech
 * @copyright Copyright (c) 2023 Tridhya Tech Ltd (https://www.tridhyatech.com)
 * @package   Tridhyatech_LayeredNavigation
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ttlayerednavigation" translate="label" type="text" sortOrder="6780161" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Layered Navigation</label>
            <tab>tridhyatech</tab>
            <resource>Tridhyatech_LayeredNavigation::configurations</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="scroll_up" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Scroll Up After Filtering</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="seo" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SEO-Friendly URLs</label>
                <field id="url_preview" translate="label" type="Tridhyatech\LayeredNavigation\Block\Adminhtml\System\Config\Form\SeoUrlPreview" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Preview</label>
                    <frontend_model>Tridhyatech\LayeredNavigation\Block\Adminhtml\System\Config\Form\CustomisableField</frontend_model>
                    <attribute type="pr_disable_inherit_checkbox">true</attribute>
                </field>
                <field id="insert_in" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Insert Filters In</label>
                    <source_model>Tridhyatech\LayeredNavigation\Model\OptionSource\InsertFiltersIn</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
