<?xml version="1.0"?>
<!--
/**
* @author Tridhya Tech
* @copyright Copyright (c) 2023 Tridhya Tech Ltd (https://www.tridhyatech.com)
* @package Tridhyatech_LayeredNavigation
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Magento\Catalog\Model\ResourceModel\Layer\Filter\Attribute" type="Tridhyatech\LayeredNavigation\Model\Catalog\ResourceModel\Layer\Filter\Attribute"/>
    <preference for="\Magento\Catalog\Model\Layer\Filter\DataProvider\Category" type="Tridhyatech\LayeredNavigation\Model\Catalog\Layer\Filter\DataProvider\Category"/>
    <preference for="\Magento\Swatches\Block\LayeredNavigation\RenderLayered" type="Tridhyatech\LayeredNavigation\Block\Swatches\RenderLayered"/>
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Category" type="Tridhyatech\LayeredNavigation\Model\Filter\Category"/>
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="ttlayerednavigation" xsi:type="array">
                    <item name="class" xsi:type="string">Tridhyatech\LayeredNavigation\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="pr-filter-handle-filter-ajax"
                type="Tridhyatech\LayeredNavigation\App\Action\Plugin\HandleFilterAjaxRequest"/>
    </type>
    <type name="Magento\Catalog\Model\Layer\Filter\DataProvider\Price">
        <plugin name="ttlayerednavigation_skip_to_price_edit" type="Tridhyatech\LayeredNavigation\Plugin\Model\Catalog\Layer\Filter\DataProvider\Price" />
    </type>
    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="pr-filter-fix-price"
                type="Tridhyatech\LayeredNavigation\Plugin\Elasticsearch\FixMaxAndMinPrices" sortOrder="10"/>
    </type>
    <type name="Magento\Elasticsearch\SearchAdapter\Aggregation\Builder\Dynamic">
        <plugin name="pr-filter-save-real-max-min-prices"
                type="Tridhyatech\LayeredNavigation\Plugin\Elasticsearch\SaveRealMaxAndMinPrices" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Layer\Filter\Decimal">
        <plugin name="pr-filter-convert-null-max-min-values"
                type="Tridhyatech\LayeredNavigation\Plugin\Model\Catalog\ResourceModel\Layer\Filter\Decimal" sortOrder="10"/>
    </type>
</config>
