<?xml version="1.0"?>
<!--
/**
* @author Tridhya Tech
* @copyright Copyright (c) 2023 Tridhya Tech Ltd (https://www.tridhyatech.com)
* @package Tridhyatech_LayeredNavigation
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="pr_product_filter_init" instance="Tridhyatech\LayeredNavigation\Observer\AddProductFilterInitHandle" />
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="prproductfilter_change_meta" instance="Tridhyatech\LayeredNavigation\Observer\ChangeMeta" />
    </event>
</config>
